---
title: Blog
eleventyExcludeFromCollections: true
eleventyimpot:
  collections: ["post"]
---

{%- set currentYear = "" -%}
{%- for post in collections.post | reverse -%}
  {%- set postYear = post.date.getFullYear() -%}
  {%- if currentYear != postYear -%}
  <section>
  <h3>{{ postYear }}</h3>
  <ul class="post-list">
  {%- endif -%}

    <li>
      <a href="{{ post.url }}">
        {{ post.data.title }}  
        <hr/>
        <time datetime="{{ post.date.toISOString() }}">{{ post.date.getDate() }}</time>
      </a>
    </li>

  {%- if currentYear != postYear -%}
  {%- set currentYear = postYear -%}
  {%- endif -%}

{%- endfor -%}
</ul>
</section>

