@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-tenorsans;
  }
  h1,
  h2,
  h3,
  h4,
  nav {
    @apply font-archivo;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl font-bold;
  }
  p {
    @apply pb-4;
  }
}

nav a {
  position: relative;
  transition: color 0.3s ease-in-out;

  &::before {
    @apply bg-rose-600;
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

main a:not(.no-underline) {
  @apply text-rose-500 hover:text-rose-600 relative;

  &::before {
    @apply bg-rose-600 absolute w-full;
    content: "";
    height: 1px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

main {
  @apply mx-auto max-w-prose grow pt-4 px-4 w-full;
}

.pros blockquote {
  @apply pt-4;
}
.prose blockquote p {
  @apply m-0;
}

.prose ol,
.prose ul {
  @apply my-0 pb-4;
}
.prose li > ol,
.prose li > ul {
  @apply py-0;
}
.prose li {
  @apply my-0;
}

.prose pre {
  @apply mt-0 mb-4 relative bg-[#282a36];
}

.prose :where(code) {
  @apply text-sm font-bold dark:text-white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  /*   white-space: pre; */
}

@media screen(lg) {
  .prose pre {
    @apply min-w-[150%] ml-[-25%];
  }
}

.skew-image img {
}
