@use 'sass:color';
@use "colors" as *;
@use "mixins" as *;
@use "reset" as *;
@use "typography" as *;

/* Website styles */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: $background;
  color: $foreground;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

h1 {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 2px;
  width: fit-content;
  margin-inline: auto;
  margin: 0;
}

a {
  transition: color .25s;
  color: $foreground;

  &:hover {
    color: color.adjust($primary, $lightness: -10%);
    text-decoration: underline;
  }
}

header {
  a {
    text-decoration: none;
    color: $foreground;
    text-transform: uppercase;
    line-height: 3rem;

    &:hover {
      text-decoration: none;
      color: $foreground;
    }
  }

  h1 {
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 2px;
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lighter;
  padding: 1rem 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lighter;
  color: $foreground;
  padding: 1rem 0;
}

main {
  margin: rem(40px) 0;
  padding: 1rem;
  flex-grow: 1;

  div,
  p,
  pre,
  pre[class*="language-"] {
    margin-bottom: rem(20px);
  }

  article {
    max-width: 576px;
    margin: auto;
  }

  .excerpt {
    font-size: 150%;
    font-weight: 500;
    line-height: 1.45em;
  }

  @media not print {
    @media (min-width: 960px) {

      .large,
      .side-by-side,
      pre {
        position: relative;
        width: 170%;
        left: -35%;
      }
    }
  }
}

.post-list {
  margin-left: 0;

  li {
    list-style: none;

    a {
      display: flex;
      flex-direction: row;
      min-width: 100%;
      align-items: center;
      line-height: 2rem;
      text-decoration: none;

      hr {
        flex-grow: 1;
        border: 0;
        border-bottom: 1px dotted $foreground;
        height: .8rem;
        margin: 0 .5rem;
        opacity: .5;
        background-color: transparent;
      }

      time {
        color: $foreground;
        transition: none;
      }

      &:hover time {
        color: $foreground;
      }
    }
  }
}
