---
layout: _layouts/base
title: Title
---

<h2 class="mb-0"> {{title}} </h2>
<div class="text-slate-500 mb-4">Posted on {{ page.date | longDate }}</div>
<article class="
prose
prose-slate
prose-quoteless
prose-a:no-underline
prose-headings:mt-0
prose-headings:mb-4
prose-p:my-0
prose-img:mb-4
prose-img:mt-0
prose-img:relative
lg:prose-img:min-w-[150%]
lg:prose-img:ml-[-25%]

prose-blockquote:border-slate-800
prose-blockquote:dark:border-slate-200
prose-blockquote:text-slate-800
prose-blockquote:dark:text-slate-200

prose-hr:border-rose-500
prose-hr:max-w-sm
prose-hr:mx-auto
prose-hr:my-0
prose-hr:pb-4

prose-a:text-rose-500
hover:prose-a:text-rose-600

prose-table:text-base
prose-table:mb-4
prose-table:mt-0
prose-table:relative
lg:prose-table:min-w-[150%]
lg:prose-table:ml-[-25%]
">

  {% if excerpt %}
  <p id="excerpt" class="">{{ excerpt }}</p>
  {% endif %}

  {{ content | safe }}
</article>
