---
layout: _layouts/base
title: Title
---

<h2 class="mb-0"> {{title}} </h2>
<div class="text-slate-500 mb-4">Posted on {{ page.date | longDate }}</div>
<article class="prose prose-slate prose-quoteless prose-a:no-underline prose-headings:mt-0 prose-headings:mb-4 prose-p:mb-4 prose-img:mb-4 prose-img:mt-0 prose-img:relative lg:prose-img:min-w-[150%] lg:prose-img:ml-[-25%] prose-blockquote:border-slate-800 prose-blockquote:dark:border-slate-200 prose-blockquote:text-slate-800 prose-blockquote:dark:text-slate-200">

  {% if excerpt %}
  <p id="excerpt" class="font-2xl">{{ excerpt }}</p>
  {% endif %}

  {{ content | safe }}
</article>
